@mixin font-style($color,  $weight,  $font-style, $font-variant) {
  color: $color;
  font-weight: $weight;
  font-style: $font-style;
  font-variant:$font-variant;
}
@mixin border( $border-width,$border-style, $border-color){
  border-style:$border-style;
  border-width:$border-width;
  border-color:$border-color;
}

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

@mixin image($width,$height) {
  width:$width;
  height: $height !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin gradient($direction, $gradient1, $gradient2) {
background: -webkit-linear-gradient($direction,$gradient1, $gradient2);
background: -o-linear-gradient($direction,$gradient1, $gradient2);
background: -ms-linear-gradient($direction,$gradient1, $gradient2);
background: -moz-linear-gradient($direction,$gradient1, $gradient2 );
}



@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin btn-basic($color, $text_color) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 1.5em 1.6em 1.55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include rounded(0.5em);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  color: $text_color !important;
  border: none;
  background-color: $color !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

@mixin btn-form($color, $text_color) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  margin: $small $small $small 0;
  @include rounded(0em);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
  color: $text_color !important;
  font-weight: bold;
  border: none;
  background-color: $color !important;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
