
.shop-search-form{
  width: 100%;
  padding: $xs $xs*2 !important;
  margin: 0px;
  margin-left: $pr25;
  box-sizing: border-box;
}

.form-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.confirm_message{
  margin-bottom: $pr25+10%;
}
