.nav-icon {
  color: $black;
  padding-right: $small;
}

.fa-check-circle {
  color:$green;
  margin-top: 10%;
}

.fa-chevron-left,
.fa-chevron-right {
  color: $carousel-text-color;
}

.fa-facebook-f {
  color: $facebook-cl;
  text-shadow: 2px 2px;
}

.fa-twitter {
  color: $twitter-cl;
  text-shadow: 2px 2px;
}

.fa-instagram {
  color: $instagram-cl;
  text-shadow: 2px 2px;
}

.fa-user-alt{
  color:$twitter-cl;
}
.fa-comments{
color:$instagram-cl;
}

@media (max-width: 991px) {

  .footer-icon{
    margin-left: 0%;
  }

}
