.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0rem;
    margin: 40px !important;
    float: right;
}

.pagination > li > a,
.pagination > li > span {
  border-radius: 100% !important;
  margin:  5px;
  font-size: 18px;
  font-weight: bold;
  padding: $x-size $x-size+4px;
  border:1px solid $light-blue;
  background-color: $blue;
  color: $white;
  &:hover{
    background-color: $white;
    color:$black;
  }
}
