.product-column{
  width:60%;
  text-align: justify;
}
.price-column{
  width:15%;
}
.quantity-column{
  width:10%;
}
.total-price-column{
  width:15%;
}

.table-responsive{
  margin-top: $bg-size;
  margin-bottom: $bg-size;
}
