<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="css/style.bundle.css" />
</head>

<body>
  <header>
    <div class="row no-gutters ">
      <div class="col-lg-8 offset-lg-2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Asia Style</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-search fa-lg nav-icon"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-bag fa-lg nav-icon"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <section class="breadcrumb-banner my-1">
    <div class="row no-gutters">
      <div class="col-sm-12 col-lg-8 offset-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <section class="blog_area mb-4">
    <div class="row no-gutters">
      <div class="col-lg-8 offset-lg-2">
        <div class="row no-gutters">
          <div class="col-sm-12 col-lg-9">
            <div class="row  no-gutters">
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="single_post ml-1 mr-1">
                  <div class="image_post">
                    <img src="./img/1.jpeg" alt="" class="img-fluid">
                  </div>
                  <div class="post_info">
                    <h2 class="font-weight-bold text-left text-dark">Second divided from form fish</h2>
                    <ul class="nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><small> Travel, Lifestyle</small></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comments"></i> <small>03 Comments</small></a>
                      </li>
                    </ul>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have.</p>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="navigation my-4 mx-auto">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-12 col-lg-3">
            <aside class="newsletter">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
                <button type="submit" class="btn btn-aside w-100">Search</button>
              </form>
            </aside>
            <aside class="blog_category">
              <h4>Category</h4>
              <hr>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Travels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Inspiration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Modern</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Techology</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Inspiration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link category_post" href="#">Health</a>
                </li>
              </ul>
            </aside>
            <aside class="recent_posts">
              <h4>Recent Posts</h4>
              <hr>
              <ul class="nav flex-column">
                <li class="nav-item recent_post_info">
                  <div class="d-flex flex-row no-gutters">
                    <div class="w-25"><img src="./img/1.jpeg" alt="" class="img-fluid"></div>
                    <div class="w-75">
                      <h6 class="ml-1 text-dark">From life was you fish</h6>
                      <small class="ml-1 text-right secondary-text">January 12, 2019</small>
                    </div>
                  </div>
                </li>
                <li class="nav-item recent_post_info">
                  <div class="d-flex flex-row no-gutters">
                    <div class="w-25"><img src="./img/1.jpeg" alt="" class="img-fluid"></div>
                    <div class="w-75">
                      <h6 class="ml-1 text-dark">From life was you fish</h6>
                      <small class="ml-1 text-right secondary-text">January 12, 2019</small>
                    </div>
                  </div>
                </li>
                <li class="nav-item recent_post_info">
                  <div class="d-flex flex-row no-gutters">
                    <div class="w-25"><img src="./img/1.jpeg" alt="" class="img-fluid"></div>
                    <div class="w-75">
                      <h6 class="ml-1 text-dark">From life was you fish</h6>
                      <small class="ml-1 text-right secondary-text">January 12, 2019</small>
                    </div>
                  </div>
                </li>

              </ul>
            </aside>
            <aside class="tag_clouds">
              <h4>Tag Clouds</h4>
              <hr>
              <div class="d-flex flex-row flex-wrap">
                <div class="tag_post">project</div>
                <div class="tag_post">love</div>
                <div class="tag_post">technology</div>
                <div class="tag_post">love</div>
                <div class="tag_post">restaurant</div>
                <div class="tag_post">life</div>
                <div class="tag_post">design</div>
              </div>

            </aside>
            <aside class="instagram_feeds">
              <h4>Instagram Feeds</h4>
              <hr>
              <div class="d-flex flex-row flex-wrap w-100">
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>
                <div class="feeds"><img src="./img/2.jpeg" alt="" class="img-fluid"></div>

              </div>
            </aside>
            <aside class="search">
              <h4>Search</h4>
              <hr>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-aside w-100">Submit</button>
              </form>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="row no-gutters  ">
      <div class="col-lg-8 offset-lg-2 footer-info">
        <div class="row no-gutters  ">
          <div class="col-lg-2 col-md-2 col-sm-6 col-6">
            <h4 class="border-bottom-footer ml-2">Category</h4>
            <ul class="nav flex-column footer-list">
              <li class="nav-item">
                <a class="nav-link" href="#">Male</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Female</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-6">
            <h4 class="border-bottom-footer ml-2">Company</h4>
            <ul class="nav flex-column footer-list">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faq</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="border-bottom-footer ml-2">Address</h4>
            <ul class="nav flex-column footer-list1">
              <li class="nav-item">
                <a class="nav-link" href="#">200, Green block, NewYork</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">+10 111 267 1111</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact@Contact.com</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="border-bottom-footer ml-2">Newsletter</h4>
            <form class="form-inline footer-form ml-2">
              <div class="input-group mb-2 mr-sm-2">
                <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Email">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-footer mb-2">Submit</button>
                </div>
              </div>
            </form>
            <nav class="nav footer-icon">
              <a class="nav-link" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
              <a class="nav-link" href="#"><i class="fab fa-twitter  fa-2x"></i></a>
              <a class="nav-link" href="#"><i class="fab fa-instagram  fa-2x"></i></a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>
