$white:#ffffff;
$black:#000000;
$yellow:#f1c40f;
$gray:#768787;
$orange:#F4A301;
$dark-grey:#1E1E19;
$dark-white:#D7CECE;
$light-blue:#95D7E8;
$light-grey:#ecf0f1;
$red:#F90303;
$green:#24FE41;
$phiolet:#FE24F7;
$dark-blue:#024f59;
$blue:#007bff;
$cyan:#8EC9DB;
$violet:#9b59b6;
$light-yellow:#F1E6C1;



$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;

$x-size:10px;
$bg-size:50px;
