$background-color:#6B7A8F;
$btn-color:#F7882F;
$navbar-color:#DCC7AA;
$carousel-text-color: #1561ad;
$tag-color:#F7C331;
$black:#000000;
$white:#ffffff;
$gradient1:rgb(225, 214, 208) 0%;
$gradient2:rgb(223, 210, 201) 100%;
$facebook-cl:#133CAC;
$twitter-cl:#5FC0CE;
$instagram-cl:#A63A00;
$green:#2F8F00;


$direction:275deg;
$direction1:175deg;

$basic-size:14px;
$logo-size:40px;
$header-size:50px;

//font-weight
$bolder: 900;

$xxs:5px;
$xs : 10px;
$small : 25px;
$medium : 50px;
$large : 75px;
$xlarge : 100px;
$xxlarge: 150px;

$z-index:99;
$width:100%;

$pr5:5%;
$pr10:10%;
$pr25:25%;
$pr50:50%;
$pr75:75%;
$pr100:100%;

$normal:normal;
