<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="css/style.bundle.css" />
</head>
<body>
  <header>
    <div class="row no-gutters mb-2">
      <div class="col-lg-8 offset-lg-2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Asia Style</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-search fa-lg nav-icon"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-bag fa-lg nav-icon"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <section  class="breadcrumb-banner">
    <div class="row  no-gutters mb-5">
      <div class="col-lg-8 offset-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <section class="order_area my-5">
    <div class="row no-gutters">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <form>
          <div class="row no-gutters">
            <div class="col-lg-7 col-sm-12 my-2">
              <h4 class="font-weight-bold text-left">Billing Details</h4>
              <hr>
              <div class="form-row my-3">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
              <div class="form-row my-3">
                <div class="col-lg-12">
                  <input type="text" class="form-control" placeholder="Company name">
                </div>
              </div>
              <div class="form-row my-3">
                <div class="col-lg-12">
                  <select class="form-control">
                    <option>Country</option>
                    <option>Country</option>
                    <option>Country</option>
                  </select>
                </div>
              </div>
              <div class="form-row my-3">
                <div class="col-lg-12">
                  <select class="form-control">
                    <option>District</option>
                    <option>District</option>
                    <option>District</option>
                  </select>
                </div>
              </div>
              <h4 class="font-weight-bold">Shipping Details</h4>
              <div class="form-group form-check my-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Ship to a different address?</label>
              </div>
              <div class="form-group my-3">
                <textarea class="form-control" rows="12" placeholder="Order Notes"></textarea>
              </div>
            </div>
            <div class="col-lg-4  offset-lg-1 col-sm-12  my-2">
              <h4 class="font-weight-bold text-left">Your Order</h4>
              <hr>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fresh Blackberry x 02</td>
                      <td>$720.00</td>
                    </tr>
                    <tr>
                      <td>Fresh Blackberry x 02</td>
                      <td>$720.00</td>
                    </tr>
                    <tr>
                      <td>Fresh Blackberry x 02</td>
                      <td>$720.00</td>
                    </tr>
                    <tr>
                      <td>SUBTOTAL</td>
                      <td>$2160.00</td>
                    </tr>
                    <tr>
                      <td>SHIPPING</td>
                      <td>Flat rate: $50.00</td>
                    </tr>
                    <tr>
                      <td>TOTAL</td>
                      <td>$2210.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="master_card" id="master_card" value="option1" checked>
                <label class="form-check-label" for="master_card">
                  Check Payments
                </label>
                <p>Please send a check to Store Name, Store Street,<br> Store Town, Store State / County, Store Postcode.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="visa" id="visa" value="option1" checked>
                <label class="form-check-label" for="visa">
                  Paypal
                </label>
                <p>Pay via PayPal; you can pay with your credit card <br>if you don’t have a PayPal account.</p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  I’ve read and accept <a href="">the terms & conditions*</a>
                </label>
              </div>
              <button type="submit" class="btn btn-basic">Proceed To PayPal</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </section>
  <footer>
    <div class="row no-gutters  ">
      <div class="col-lg-8 offset-lg-2 footer-info">
        <div class="row no-gutters  ">
          <div class="col-lg-2 col-md-2 col-sm-6 col-6">
            <h4 class="border-bottom-footer ml-2">Category</h4>
            <ul class="nav flex-column footer-list">
              <li class="nav-item">
                <a class="nav-link" href="#">Male</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Female</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shoes</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-6 col-6">
            <h4 class="border-bottom-footer ml-2">Company</h4>
            <ul class="nav flex-column footer-list">
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Faq</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="border-bottom-footer ml-2">Address</h4>
            <ul class="nav flex-column footer-list1">
              <li class="nav-item">
                <a class="nav-link" href="#">200, Green block, NewYork</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">+10 111 267 1111</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact@Contact.com</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <h4 class="border-bottom-footer ml-2">Newsletter</h4>
            <form class="form-inline footer-form ml-2">
              <div class="input-group mb-2 mr-sm-2">
                <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter Email">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-footer mb-2">Submit</button>
                </div>
              </div>
            </form>
            <nav class="nav footer-icon">
              <a class="nav-link" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
              <a class="nav-link" href="#"><i class="fab fa-twitter  fa-2x"></i></a>
              <a class="nav-link" href="#"><i class="fab fa-instagram  fa-2x"></i></a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>
</html>
